body{
    background-color: cadetblue;
    text-align: center;
    
}

p{
    color: rgb(34, 34, 153);
    text-align: justify;
         
}

h1{
    color: chartreuse;
    text-align: center;
    
}

img{
    width: 25%;
    border: 2pt;
}

.mapa{
    color: blueviolet;
    size: 20px;
}

#tabela{
    color: brown;
    align-items: center;
    margin: 10px 200px 10px 200px;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.conteiner{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.paragrafo{
    display: flex;
    flex-direction: column ;
}



/* * {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}

ul {
    margin: 0;
    padding:0;
}

li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
   
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}

 */
